.contenedor {

	/*background-color: orange;*/
	padding: 1px;
	overflow: hidden;
	width: 850px;
	text-align: center;
	margin: auto;

}

.letra {
    
    margin: 1px;
    padding: 10px;
    color: black;
    float: left;
    box-sizing: border-box;
	background-color: gray;
	width: 250px;
	position: relative;
	border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 200px;
}

#caja1 {
	margin-left: 25px;
	margin-right: 12.5px;
}

#caja2 {
	margin-left: 12.5px;
	margin-right: 12.5px;
}

#caja3 {
	margin-left: 12.5px;
	margin-right: 25px;
}


h1 {

	width: 500px;
	text-align: center;
	margin: 40px auto;
}

h2 {
    font-size: 20px;
    position: absolute;
    width: 83.3px;
    height: 30px;
    left: 163.6px;
    top: -1px;
    margin: 0px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    line-height: 30px;
	vertical-align: middle;
	text-align: center;
}


#caja1 h2 {
	background-color: pink;
}

#caja2 h2 {
	background-color: skyblue;
}

#caja3 h2 {
	background-color: green;
}




.texto {
	margin: 30px 0px 10px 0px;
}
/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	.contenedor {
		width: 700px;	
	}

	h2 {
	    font-size: 20px;
	    width: 100px;
	    height: 30px;
	    left: 197px;
	    margin: 0px;
	    line-height: 30px;
	}

	#caja1 {
		margin-left: 33px;
		margin-right: 16.5px;
	}

	#caja2 {
		margin-left: 33px;
		margin-right: 16.5px;
	}

	#caja3 {
		margin-top: 42px;
		margin-left: 33px;
		margin-right: 33px;
		width: 649.5px;
	}

	#caja3 h2 {

		left: 546.5px;
	}

	.texto {
		margin: 30px 0px 10px 0px;
	}

	.letra {

		width: 300px;
	}
}
/*mobile*/
@media (max-width: 767px) {

	.contenedor {
		width: 350px;	
	}

	h2 {
	    font-size: 20px;
	    width: 100px;
	    height: 30px;
	    left: 197px;
	    margin: 0px;
	    line-height: 30px;
	}

	#caja1 {
		margin-left: 33px;
		margin-right: 16.5px;
	}

	#caja2 {
		margin-left: 33px;
		margin-right: 16.5px;
	}

	#caja3 {
		margin-left: 33px;
		margin-right: 16.5px;
	}

	.texto {
		margin: 30px 0px 10px 0px;
	}

	.letra {
		margin-bottom: 42px;
		width: 300px;
	}

}
/*desktop*/
@media (min-width: 992px) {
	.contenedor {
		width: 850px;	
	}

	h2 {
	    font-size: 20px;
	    width: 83.3px;
	    height: 30px;
	    left: 163.6px;
	    margin: 0px;
	    line-height: 30px;
	}

	#caja1 {
		margin-left: 25px;
		margin-right: 12.5px;
	}

	#caja2 {
		margin-left: 12.5px;
		margin-right: 12.5px;
	}

	#caja3 {
		margin-left: 12.5px;
		margin-right: 25px;
	}

	.texto {
		margin: 30px 0px 10px 0px;
	}

	.letra {
			width: 250px;
	}


}

